# Red website classification data, train multiples AI and predict the website topic

## Import libraries:

In [9]:
import pandas as pd
import numpy as np
import collections as cll

## Read the dataset

In [10]:
dataset = pd.read_csv('website_classification.csv',usecols=['cleaned_website_text','Category'])
y = dataset.iloc[:,-1].values

In [13]:
dataset.head()

                                cleaned_website_text Category
0  official site good hotel accommodation big sav...   Travel
1  expedia hotel book sites like use vacation wor...   Travel
2  tripadvisor hotel book sites like previously d...   Travel
3  cheap flights search compare flights momondo f...   Travel
4  bot create free account create free account si...   Travel

In [14]:
print(y)

['Travel' 'Travel' 'Travel' ... 'Adult' 'Adult' 'Adult']

## Check the balance between the categories

In [16]:
cll.Counter(y)

Counter({'Travel': 107,
         'Social Networking and Messaging': 83,
         'News': 96,
         'Streaming Services': 105,
         'Sports': 104,
         'Photography': 93,
         'Law and Government': 84,
         'Health and Fitness': 96,
         'Games': 98,
         'E-Commerce': 102,
         'Forums': 16,
         'Food': 92,
         'Education': 114,
         'Computers and Technology': 93,
         'Business/Corporate': 109,
         'Adult': 16})